:root {
    --text-color: #000000;
    --header-color: #D9B382;
    --main-blue: #D9C1A7;
    --main-gray: #C5A28B; 
}

@media (min-width: 28.75em) {
    h1, h2 {
        font-size: 4rem;
    }
}

html {
    font-size: 65%;
    font-family: 'Raleway', 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

h1 {
    font-weight: bold;
    font-size: 4rem;
    color: black;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
    color: var(--text-color);
}

p {
    font-size: 1.5rem;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

iframe {
    width: 80%;
    height: 1000px;
    overflow: auto;
    border-radius: 10px;
}

/* NAV SECTION*/

#navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--header-color);
    width: 100%;
    height: 10vh;
    z-index: 10;
}

#navbar a {
    display: block;
    font-size: 2.25rem;
    padding: 2rem;
    font-weight: bold;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
    margin-left: 2px;
    vertical-align: middle;
    align-items: center;
}

#navbar a:hover {
    background-color: var(--main-blue);
    z-index: inherit;
    border-radius: 10px;
    transition: 0.5s;
}

/* WELCOME SECTION */

#welcome-section {
    position: relative;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden; /* Ensures no scrolling */
}

#welcome-section::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('assets/rizalbg.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}

.projects img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(1px);
}

.animation > p {
    position: relative; /* Ensure it stays above the pseudo-element */
    -webkit-text-stroke: 2px black; /* Adds a black stroke */
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-gray);
    text-align: center;
    z-index: 1; /* Ensures text appears above the background */
}

.animation > h1 {
    -webkit-text-stroke: 2px black;/* Adds a black stroke */
}

.animation > p {
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-gray);
    text-align: center;
}

.animation {
    animation: 1s ease-in fade;
}


/* PROJECTS */

.projects {
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh;
    width: 100%;
    background-color: var(--main-blue);
}

.projects h2 {
    text-align: center;
    font-size: 4rem;
    font-family:'Courier New', Courier, monospace;
}

.projects-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    width: 100%;
    margin-bottom: 6rem;
}

.project-tile {
    display: block;
    width: 350px;
    height: 510px;
    margin: 20px;
    border-radius: 2px;
    background-color: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.project-tile:hover {
    transform: scale(1.05);
}
.project-tile p {
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
}

/* CONTACTS */

.hero {
    grid-column: 1 / -1;
    position: relative;
  }
  
  .hero-title {
    text-align: center;
    color: orangered;
    font-size: 8rem;
    font-family: Raleway ;
  }
  
  .hero-subtitle {
    font-size: 2.4rem;
    color: orangered;
    text-align: center;
  }

.image-1, .image-3 {
    grid-column: 1 / -1;
  }

.image-3 {
    padding-left: 15rem;
}

.contacts {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* height: 100vh;
    width: 100%; */
    background: url('assets/npbg.jpg') repeat center;
    background-color: var(--main-gray);
}

.contacts h2 {
    font-size: 8rem;
}

.contacts p {
    font-size: 2rem;
    font-weight: normal;
    color: var(--text-color)
}

.text {
    margin: 20px;
    grid-column: 2 / 3;
    font-size: 1.8rem;
    letter-spacing: 0.6px;
    column-width: 25rem;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
  }

.text-desc p {
    margin: 10px 75px;
    background-image: url("assets/npbg.jpg");
    opacity: 80%;
    border: 1px solid black;
    border-radius: 10px;
    font-style: italic;
    padding: 40px 100px;
    font-size: 1.8rem;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: justify;
}

.text-with-images {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 3rem;
    margin-bottom: 3rem;
  }

.first-paragraph::first-letter {
    font-size: 6rem;
    color: orangered;
    float: left;
    margin-right: 1rem;
  }

  .quote {
    color: #00beef;
    font-size: 2.4rem;
    text-align: center;
    font-family: "Raleway", sans-serif;
  }
  
  .quote::before {
    content: '" ';
  }
  
  .quote::after {
    content: ' "';
  }

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

/* FOOTER */

.footer {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 20rem;
    width: 100%;
    background-color: var(--main-gray);
}

.footer ul li{
    text-align: center;
    padding: 5px;
    font-size: 20px;
}

/* ANIMATIONS */

@keyframes fade {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100;
    }
}
/*-----------------PDFs----------------*/
.works{
    padding-top: 5%;
    width: 100%;
    height: 100%;
    background-image: url("assets/rizalbg.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    justify-items: center;
    text-align: center;
}
.works h1{
    font-family:'Courier New', Courier, monospace;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 5rem;
    color: black;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 12px 34px;
    background-image: url("assets/npbg.jpg");
    justify-items: center;
}
.pdf-view{
    margin: 0;
    resize: vertical;
    overflow: auto;
    justify-items: center;
    text-align: center;
}
/*----------Other Works------------*/
.other-works{
    padding: 0 0 100px;
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("assets/rizalbg.jpg");
    background-size: cover;
    background-attachment: fixed;
    justify-items: center;
    text-align: center;
    overflow-y: auto;
}

.other-works h1{
    padding-top: 100px;
    padding-bottom: 20px;
    font-family:'Courier New', Courier, monospace;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 5rem;
    color: black;
    margin: 100px 10px 0 0;
    border: 1px solid #000000;
    padding: 12px 34px;
    background-image: url("assets/npbg.jpg");
    justify-items: center;
}

.works-rows{
    justify-items: center;
    box-sizing: border-box;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 280px;
    gap: 50px;
}
.works-col{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}
.works-col img{
    width: 100%;
    height: 100%;
}
.layer{
    color: #000000;
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.layer:hover{
    background: url("assets/npbg.jpg");
    transition: transform 2s ease;
}
.layer h2{
    width: 100%;
    font-weight: 500;
    color: #000000;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
}
.layer:hover h2{
    bottom: 49%;
    opacity: 1;
}

